@use '../abstracts' as *;

.trainee-page {
  padding: 80px 20px;
  background: #f1f5f9; // Светлый фон для контраста с карточкой
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: $bg-gradient; //Градиентный фон
  background-attachment: fixed;

  .trainee-card {
    max-width: 800px;
    width: 100%;
    background: #ffffff;
    border-radius: 12px; // В IT чаще используют небольшое скругление
    padding: 60px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid $border-color;
  }

  .trainee-header {
    text-align: center;
    margin-bottom: 50px;

    .modsen-text {
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: 2px;
      color: #000;

      span {
        color: $modsen-blue;
      }
    }

    .status-badge {
      display: inline-block;
      margin: 20px 0 10px;
      padding: 4px 12px;
      background: $dark-slate;
      color: #fff;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 4px;
    }

    h1 {
      font-size: 2.5rem;
      color: $dark-slate;
      margin: 0;
    }
  }

  .experience-section {
    h3 {
      font-size: 1.1rem;
      color: $dark-slate;
      text-transform: uppercase;
      margin-bottom: 20px;
      border-bottom: 2px solid $modsen-blue;
      display: inline-block;
    }

    p {
      color: $text-main;
      line-height: 1.6;
    }

    .focus-areas {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin: 30px 0;

      .area-card {
        padding: 20px;
        background: $soft-gray;
        border-radius: 8px;
        border-left: 4px solid $modsen-blue;

        h4 {
          margin: 0 0 10px;
          color: $dark-slate;
        }

        p {
          font-size: 0.9rem;
          margin: 0;
        }
      }
    }

    .tags-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .tech-tag {
        padding: 6px 14px;
        background: #fff;
        border: 1px solid $border-color;
        border-radius: 6px;
        font-size: 0.85rem;
        font-family: 'Courier New', Courier, monospace; // "Кодерский" шрифт
        color: $modsen-blue;
        font-weight: bold;

        &:hover {
          background: $modsen-blue;
          color: #fff;
          cursor: default;
        }
      }
    }
  }

  .trainee-footer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

    .btn-back {
      text-decoration: none;
      color: $modsen-blue;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover .icon {
        transform: translateX(-5px);
      }

      .icon {
        transition: transform 0.3s;
      }
    }

    .internship-period {
      color: #94a3b8;
    }
  }
}